bin/
obj/
.vs/
.vscode/
artefacts/
nugetpackage/
wwwroot/
.idea
[Rr]elease/

*ncrunch*
*.user

tools/
!tools/packages.config

.vagrant/
node_modules/
build/
npm-debug.log
patternlab.scss
sprites.scss

coverage

visual-regression/backstop_data/bitmaps_test/
visual-regression/backstop_data/html_report/
visual-regression/backstop_data/ci_report/
appsettings.Development.json
